@charset "UTF-8";
/*
@font-face {
  font-family: "HM Amperserif Regular";
  src: url("../fonts/hmamperserif-regular.ttf");
}

@font-face {
  font-family: "HM Amperserif Regular";
  src: url("../fonts/hmamperserif-italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "HM Amperserif Display";
  src: url("../fonts/hmamperserif-disp-regular.ttf");
}
*/
/*
FROM base.min
"HM Ampersand Bold"
"HM Ampersand Condensed"
"HM Ampersand Condensed Bold"
"HM Ampersand Demi Bold"
"HM Ampersand Light"
"HM Ampersand Regular"
"HM Ampersand Ultra Light"
"HM Amperserif Display Regular"
*/
#svg-container {
  display: none; }

/*****************************************************
 *
 *  Overwrites
 *
 *****************************************************/
.campaign-wrapper {
  background: #d4d7d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#d4d7d8), to(white));
  background: -webkit-linear-gradient(top, #d4d7d8, white);
  background: linear-gradient(to bottom, #d4d7d8, white); }

/*****************************************************
 *
 * Content Global Classes
 *
 *****************************************************/
/*****************************************************
 *
 *  HERO HEADER
 *
 *****************************************************/
.c-hero-image {
  opacity: 1 !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  z-index: 0 !important;
  background-position-y: 0px; }
  .c-hero-image:before {
    content: "";
    opacity: 0.05;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; }
  .c-hero-image .text {
    top: 70%; }
  .c-hero-image small {
    display: block;
    font-size: 0.5em; }
  .c-hero-image h1 {
    max-width: 16em;
    margin: 0 auto;
    line-height: 1.1; }

.campaign-cards-wrapper {
  margin-top: -44px;
  z-index: 2; }
  .campaign-cards-wrapper .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; }
    @media only screen and (min-width: 620px) {
      .campaign-cards-wrapper .wrapper {
        max-width: 620px; } }
    @media only screen and (min-width: 700px) {
      .campaign-cards-wrapper .wrapper {
        max-width: 700px; } }
    @media only screen and (min-width: 1040px) {
      .campaign-cards-wrapper .wrapper {
        max-width: 1040px; } }

.gutter-sizer {
  width: 20px; }

.card.campaign-card {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 22px;
  width: 100%;
  max-width: 560px; }
  @media only screen and (min-width: 620px) {
    .card.campaign-card {
      max-width: 280px; } }
  @media only screen and (min-width: 700px) {
    .card.campaign-card {
      max-width: 320px; } }

.campaign-card__link {
  cursor: pointer; }
  .campaign-card__link:hover .campaign-card__media img {
    opacity: 0.5; }
  .campaign-card__link:hover .campaign-card__read-more-span {
    text-decoration: underline; }

.campaign-card__media img {
  display: block;
  max-width: 100%; }

.campaign-card__media video {
  max-width: 100%;
  display: block;
  object-fit: cover; }

.campaign-card__media + .campaign-card__title:before {
  content: "";
  border: 15px solid transparent;
  border-bottom-color: white;
  background: transparent;
  display: block;
  width: 0px;
  height: 0px;
  margin: -25px auto 22px;
  position: relative;
  z-index: 2; }

.campaign-card__title h1,
.campaign-card__title h2,
.campaign-card__title h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: normal;
  line-height: 26.4px;
  margin-top: 0;
  margin-bottom: 11px;
  padding-top: 0;
  text-align: center;
  text-align: center; }

.campaign-card.campaign-card--icon .campaign-card__teaser {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white; }
  .campaign-card.campaign-card--icon .campaign-card__teaser > * {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }

.campaign-card__teaser {
  padding: 0 10px;
  text-align: center; }
  @media only screen and (min-width: 991px) {
    .campaign-card__teaser {
      padding: 0 25px; } }
  .campaign-card__teaser:last-child {
    padding-bottom: 10px;
    margin-bottom: 22px; }
  .campaign-card__teaser p {
    font-family: "HM Ampersand Regular";
    font-size: 14px;
    line-height: 19.8px; }

.campaign-card__read-more-span {
  text-align: center;
  display: block;
  padding: 22px 10px;
  text-decoration: none;
  color: #c7c3bc;
  font-family: "HM Ampersand Regular";
  font-size: 14px;
  line-height: 19.8px; }
  .campaign-card__read-more-span:after {
    content: " >"; }

#card-1 {
  background: #c7c3bc;
  color: white; }
  #card-1 a {
    color: white; }
  #card-1 .campaign-card__title {
    padding: 16.5px 40px 0; }
    #card-1 .campaign-card__title h1,
    #card-1 .campaign-card__title h2,
    #card-1 .campaign-card__title h3 {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      font-weight: normal;
      line-height: 26.4px;
      margin-top: 0;
      margin-bottom: 11px;
      padding-top: 0;
      text-align: center; }
  #card-1 .campaign-card__teaser {
    padding: 0 20px; }
  #card-1 .campaign-card__teaserlink {
    margin-top: 11px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 16.5px; }
    #card-1 .campaign-card__teaserlink p {
      font-family: "HM Ampersand Regular";
      font-size: 14px;
      line-height: 19.8px;
      text-align: center; }

#card-2 .campaign-card__title {
  padding: 0 42px 11px; }
  #card-2 .campaign-card__title h1,
  #card-2 .campaign-card__title h2,
  #card-2 .campaign-card__title h3 {
    font-size: 28px;
    text-transform: none;
    line-height: 1.3;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 22px;
    padding-top: 0; }

#card-3 {
  background-color: #d4c6c4; }
  #card-3 .campaign-card__title {
    padding: 44px; }
    #card-3 .campaign-card__title h2 {
      font-size: 28px;
      text-transform: none;
      line-height: 1.3;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 22px;
      padding-top: 0;
      color: white;
      text-transform: none; }
    #card-3 .campaign-card__title h2::first-line {
      font-size: 50px;
      line-height: 1em; }

#card-6 {
  background-color: #847978; }
  #card-6 .campaign-card__title {
    padding: 22px 44px; }
    #card-6 .campaign-card__title h2 {
      font-size: 28px;
      text-transform: none;
      line-height: 1.3;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 22px;
      padding-top: 0;
      color: white;
      text-transform: none;
      margin-bottom: 11px; }
    #card-6 .campaign-card__title h2::first-line {
      font-size: 50px;
      line-height: 1em; }

#card-12 {
  background-color: #d4c6c4; }
  #card-12 .campaign-card__title {
    padding: 22px 44px; }
    #card-12 .campaign-card__title h2 {
      font-size: 28px;
      text-transform: none;
      line-height: 1.3;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 22px;
      padding-top: 0;
      color: white;
      text-transform: none;
      margin-bottom: 11px; }

#card-13 {
  width: 100%;
  background: #c7c3bc;
  color: white;
  max-width: none;
  padding: 22px;
  margin-bottom: 0; }
  #card-13 .campaign-card__title h1,
  #card-13 .campaign-card__title h2,
  #card-13 .campaign-card__title h3 {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    margin-bottom: 0; }

.campaign-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
  -webkit-transform: translateY(120%);
  -ms-transform: translateY(120%);
  transform: translateY(120%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 700ms ease-out, opacity 700ms step-end;
  transition: transform 700ms ease-out, opacity 700ms step-end;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.campaign-overlay--is-open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out; }

body.is-scroll-disabled {
  overflow-y: hidden; }

.campaign-overlay__wrapper {
  position: relative;
  -webkit-box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.3);
  margin-top: 88px;
  padding: 22px 20px 136px;
  min-height: 100%;
  min-height: -webkit-calc(100% - 88px);
  min-height: calc(100% - 88px);
  background: white;
  color: black; }
  @media only screen and (min-width: 991px) {
    .campaign-overlay__wrapper {
      margin-top: 110px;
      padding: 44px 80px;
      min-height: -webkit-calc(100% - 110px);
      min-height: calc(100% - 110px); } }
  @media only screen and (min-width: 1025px) {
    .campaign-overlay__wrapper {
      padding: 66px 80px; } }

.campaign-overlay__close-btn span {
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  overflow: hidden;
  display: block; }

.campaign-overlay__close-btn--invisible {
  position: fixed;
  left: 0;
  top: 0;
  height: 66px;
  width: 100%;
  display: none;
  background: transparent;
  border: none;
  cursor: url(../images/cursor-close.svg) 30 30, auto; }
  @media only screen and (min-width: 768px) {
    .campaign-overlay__close-btn--invisible {
      height: 110px; } }
  .campaign-overlay--is-open .campaign-overlay__close-btn--invisible {
    display: block; }

.campaign-overlay__close-btn--cross {
  position: -webkit-sticky;
  position: sticky;
  top: 22px;
  z-index: 999;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../images/cursor-close.svg) no-repeat;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media only screen and (min-width: 991px) {
    .campaign-overlay__close-btn--cross {
      margin-right: -60px;
      margin-top: 22px;
      width: 40px;
      height: 40px; } }
  @media only screen and (min-width: 1025px) {
    .campaign-overlay__close-btn--cross {
      margin-right: -50px; } }

@media only screen and (max-width: 990px) {
  .campaign-overlay__social-sharing-block {
    position: absolute;
    bottom: 40px;
    width: 80%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px); } }

@media only screen and (min-width: 991px) {
  .campaign-overlay__social-sharing-block {
    width: 80px;
    display: block;
    float: right;
    margin-right: -80px;
    margin-top: 99px;
    position: -webkit-sticky;
    position: sticky;
    top: 99px; } }

@media only screen and (min-width: 1025px) {
  .campaign-overlay__social-sharing-block {
    margin-right: -100px; } }

.campaign-overlay__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 22px auto; }

.campaign-overlay__video-block video {
  max-width: 100%;
  display: block;
  object-fit: cover; }

.campaign-overlay__image-block {
  padding: 0;
  width: 100%; }
  @media only screen and (max-width: 990px) {
    .campaign-overlay__image-block {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  @media only screen and (min-width: 991px) {
    .campaign-overlay__image-block {
      padding: 0 20px;
      width: 50%; } }

.campaign-overlay__image--sv,
.campaign-overlay__image--en {
  display: none; }

.lang-sv .campaign-overlay__image--sv,
.lang-en .campaign-overlay__image--en {
  display: block; }

.campaign-overlay__image-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.campaign-overlay__grid-cell {
  width: 48%;
  width: -webkit-calc(50% - 3px);
  width: calc(50% - 3px);
  margin-bottom: 6px;
  position: relative; }

.campaign-overlay__grid-link a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0; }

.campaign-overlay__text-block {
  width: 100%; }
  @media only screen and (min-width: 991px) {
    .campaign-overlay__text-block {
      padding: 0 20px;
      width: 50%; } }

.campaign-overlay__title h1,
.campaign-overlay__title h2,
.campaign-overlay__title h3 {
  font-size: 28px;
  text-transform: none;
  line-height: 1.3;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 22px;
  padding-top: 0;
  padding-top: 5.5px;
  color: black;
  text-align: left;
  margin-bottom: 44px;
  font-size: 30px; }
  @media only screen and (min-width: 991px) {
    .campaign-overlay__title h1,
    .campaign-overlay__title h2,
    .campaign-overlay__title h3 {
      line-height: 1.15;
      font-size: 36px; } }

.campaign-overlay__text p {
  margin-bottom: 22px; }

.campaign-overlay__text blockquote {
  font-family: "HM Ampersand Demi Bold", sans-serif;
  border-left: 1px solid;
  margin: 22px 0;
  padding-left: 20px; }

.campaign-overlay__text a {
  text-decoration: underline;
  color: black !important; }

.campaign-overlay__text ul {
  padding: 0;
  margin: 0 0 22px; }

.campaign-overlay__text li {
  list-style: none;
  text-indent: -0.7em; }
  .campaign-overlay__text li:before {
    content: "–\00a0"; }

.campaign-overlay__image-caption {
  position: relative;
  background: #c7c3bc;
  margin-bottom: 22px; }
  .campaign-overlay__image-caption > div {
    padding: 22px 20px; }
  .campaign-overlay__image-caption p {
    color: white; }
  .campaign-overlay__image-caption cite {
    display: block;
    margin-top: 22px;
    font-family: "HM Ampersand Regular";
    font-size: 14px;
    line-height: 19.8px;
    font-style: normal; }
    .campaign-overlay__image-caption cite:before {
      content: "— "; }

.campaign-overlay__image {
  margin-bottom: 22px; }
  .campaign-overlay__image img {
    max-width: 100%; }

#overlay-4 .campaign-overlay__text-block {
  margin-bottom: 22px; }

#overlay-4 .campaign-overlay__image-block {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

#overlay-5 .campaign-overlay__text-block {
  margin-bottom: 22px; }

#overlay-5 .campaign-overlay__image-block {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#overlay-5 .campaign-overlay__image-caption {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }
  #overlay-5 .campaign-overlay__image-caption:before {
    content: "";
    border: 15px solid transparent;
    border-bottom-color: #c7c3bc;
    background: transparent;
    display: block;
    width: 0px;
    height: 0px;
    margin: -25px auto 22px;
    position: relative;
    z-index: 2; }
  #overlay-5 .campaign-overlay__image-caption > div {
    padding-top: 0; }

#overlay-5 .campaign-overlay__image:nth-child(2) {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

#overlay-7 .campaign-overlay__text-block {
  margin-bottom: 22px; }

#overlay-7 .campaign-overlay__image-block {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

#overlay-7 .campaign-overlay__image-grid {
  margin-bottom: 22px; }

#overlay-8 .campaign-overlay__image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#overlay-9 .campaign-overlay__text-block {
  margin-bottom: 22px; }

#overlay-9 .campaign-overlay__image-block {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

#overlay-9 .campaign-overlay__image-caption {
  font-family: "HM Amperserif Regular";
  font-size: 28px;
  line-height: 1.2 !important;
  text-align: center;
  margin: 0 auto 22px;
  font-weight: normal; }
  #overlay-9 .campaign-overlay__image-caption p {
    font-size: 28px !important;
    line-height: 1.2 !important; }
  #overlay-9 .campaign-overlay__image-caption p:before {
    content: "“";
    font-size: 1.4em;
    line-height: 0;
    position: relative;
    top: 0.2em;
    padding: 0.1em; }
  #overlay-9 .campaign-overlay__image-caption p:after {
    content: "”";
    font-size: 1.4em;
    line-height: 0;
    position: relative;
    top: 0.2em;
    padding: 0.1em; }

#overlay-10 .campaign-overlay__image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #overlay-10 .campaign-overlay__image-block .campaign-overlay__image:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  #overlay-10 .campaign-overlay__image-block .campaign-overlay__image-caption {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    font-family: "HM Amperserif Regular";
    font-size: 28px;
    line-height: 1.2 !important;
    text-align: center;
    margin: 0 auto 22px;
    font-weight: normal; }
    #overlay-10 .campaign-overlay__image-block .campaign-overlay__image-caption p {
      font-size: 28px !important;
      line-height: 1.2 !important; }
    #overlay-10 .campaign-overlay__image-block .campaign-overlay__image-caption p:before {
      content: "“";
      font-size: 1.4em;
      line-height: 0;
      position: relative;
      top: 0.2em;
      padding: 0.1em; }
    #overlay-10 .campaign-overlay__image-block .campaign-overlay__image-caption p:after {
      content: "”";
      font-size: 1.4em;
      line-height: 0;
      position: relative;
      top: 0.2em;
      padding: 0.1em; }

#overlay-11 .campaign-overlay__text-block {
  margin-bottom: 22px; }

#overlay-11 .campaign-overlay__image-block {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

/*# sourceMappingURL=maps/main.css.map */
