@font-face {
  font-family: "HM Ampersand Ultra Light";
  src: url("./font/HMAmpersandW01-UltraLight.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-UltraLight.woff2") format("woff2"),
    url("./font/HMAmpersandW01-UltraLight.woff") format("woff"),
    url("./font/HMAmpersandW01-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Light";
  src: url("./font/HMAmpersandW01-Light.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-Light.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-Light.woff2") format("woff2"),
    url("./font/HMAmpersandW01-Light.woff") format("woff"),
    url("./font/HMAmpersandW01-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Regular";
  src: url("./font/HMAmpersandW01-Regular.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-Regular.woff2") format("woff2"),
    url("./font/HMAmpersandW01-Regular.woff") format("woff"),
    url("./font/HMAmpersandW01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Demi Bold";
  src: url("./font/HMAmpersandW01-DemiBold.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-DemiBold.woff2") format("woff2"),
    url("./font/HMAmpersandW01-DemiBold.woff") format("woff"),
    url("./font/HMAmpersandW01-DemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Bold";
  src: url("./font/HMAmpersandW01-Bold.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-Bold.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-Bold.woff2") format("woff2"),
    url("./font/HMAmpersandW01-Bold.woff") format("woff"),
    url("./font/HMAmpersandW01-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Condensed";
  src: url("./font/HMAmpersandW01-Condensed.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-Condensed.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-Condensed.woff2") format("woff2"),
    url("./font/HMAmpersandW01-Condensed.woff") format("woff"),
    url("./font/HMAmpersandW01-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Condensed Bold";
  src: url("./font/HMAmpersandW01-CondBold.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-CondBold.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-CondBold.woff2") format("woff2"),
    url("./font/HMAmpersandW01-CondBold.woff") format("woff"),
    url("./font/HMAmpersandW01-CondBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Bold Italic";
  src: url("./font/HMAmpersandW01-BoldItalic.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-BoldItalic.woff2") format("woff2"),
    url("./font/HMAmpersandW01-BoldItalic.woff") format("woff"),
    url("./font/HMAmpersandW01-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Condensed Italic";
  src: url("./font/HMAmpersandW01-CondensedIt.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-CondensedIt.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-CondensedIt.woff2") format("woff2"),
    url("./font/HMAmpersandW01-CondensedIt.woff") format("woff"),
    url("./font/HMAmpersandW01-CondensedIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Condensed Bold Italic";
  src: url("./font/HMAmpersandW01-CondBoldIt.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-CondBoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-CondBoldIt.woff2") format("woff2"),
    url("./font/HMAmpersandW01-CondBoldIt.woff") format("woff"),
    url("./font/HMAmpersandW01-CondBoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Demi Bold Italic";
  src: url("./font/HMAmpersandW01-DemiBoldIt.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-DemiBoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-DemiBoldIt.woff2") format("woff2"),
    url("./font/HMAmpersandW01-DemiBoldIt.woff") format("woff"),
    url("./font/HMAmpersandW01-DemiBoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Italic";
  src: url("./font/HMAmpersandW01-Italic.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-Italic.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmpersandW01-Italic.woff2") format("woff2"),
    url("./font/HMAmpersandW01-Italic.woff") format("woff"),
    url("./font/HMAmpersandW01-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Light Italic";
  src: url("./font/HMAmpersandW01-LightItalic.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-LightItalic.woff2") format("woff2"),
    url("./font/HMAmpersandW01-LightItalic.woff") format("woff"),
    url("./font/HMAmpersandW01-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Ultra Light Italic";
  src: url("./font/HMAmpersandW01-UltraLightIt.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandW01-UltraLightIt.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandW01-UltraLightIt.woff2") format("woff2"),
    url("./font/HMAmpersandW01-UltraLightIt.woff") format("woff"),
    url("./font/HMAmpersandW01-UltraLightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Display Light";
  src: url("./font/HMAmpersandDisplayW01-Light.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandDisplayW01-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandDisplayW01-Light.woff2") format("woff2"),
    url("./font/HMAmpersandDisplayW01-Light.woff") format("woff"),
    url("./font/HMAmpersandDisplayW01-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Display Regular";
  src: url("./font/HMAmpersandDisplayW01-Rg.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandDisplayW01-Rg.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandDisplayW01-Rg.woff2") format("woff2"),
    url("./font/HMAmpersandDisplayW01-Rg.woff") format("woff"),
    url("./font/HMAmpersandDisplayW01-Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Display Demi Bold";
  src: url("./font/HMAmpersandDisplayW01-DmBd.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandDisplayW01-DmBd.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandDisplayW01-DmBd.woff2") format("woff2"),
    url("./font/HMAmpersandDisplayW01-DmBd.woff") format("woff"),
    url("./font/HMAmpersandDisplayW01-DmBd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Ampersand Display Bold";
  src: url("./font/HMAmpersandDisplayW01-Bold.eot");
  src: local("â˜º"),
    url("./font/HMAmpersandDisplayW01-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmpersandDisplayW01-Bold.woff2") format("woff2"),
    url("./font/HMAmpersandDisplayW01-Bold.woff") format("woff"),
    url("./font/HMAmpersandDisplayW01-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Regular";
  src: url("./font/HMAmperserifW01-Regular.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifW01-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmperserifW01-Regular.woff2") format("woff2"),
    url("./font/HMAmperserifW01-Regular.woff") format("woff"),
    url("./font/HMAmperserifW01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Italic";
  src: url("./font/HMAmperserifW01-Italic.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifW01-Italic.eot?#iefix") format("embedded-opentype"),
    url("./font/HMAmperserifW01-Italic.woff2") format("woff2"),
    url("./font/HMAmperserifW01-Italic.woff") format("woff"),
    url("./font/HMAmperserifW01-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Text Regular";
  src: url("./font/HMAmperserifTextW01-Regular.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifTextW01-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifTextW01-Regular.woff2") format("woff2"),
    url("./font/HMAmperserifTextW01-Regular.woff") format("woff"),
    url("./font/HMAmperserifTextW01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Text Italic";
  src: url("./font/HMAmperserifTextW01-Italic.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifTextW01-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifTextW01-Italic.woff2") format("woff2"),
    url("./font/HMAmperserifTextW01-Italic.woff") format("woff"),
    url("./font/HMAmperserifTextW01-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Text Bold";
  src: url("./font/HMAmperserifTextW01-Bold.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifTextW01-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifTextW01-Bold.woff2") format("woff2"),
    url("./font/HMAmperserifTextW01-Bold.woff") format("woff"),
    url("./font/HMAmperserifTextW01-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Text Bold Italic";
  src: url("./font/HMAmperserifTextW01-BoldIt.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifTextW01-BoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifTextW01-BoldIt.woff2") format("woff2"),
    url("./font/HMAmperserifTextW01-BoldIt.woff") format("woff"),
    url("./font/HMAmperserifTextW01-BoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Display Regular";
  src: url("./font/HMAmperserifDispW01-Regular.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifDispW01-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifDispW01-Regular.woff2") format("woff2"),
    url("./font/HMAmperserifDispW01-Regular.woff") format("woff"),
    url("./font/HMAmperserifDispW01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HM Amperserif Display Italic";
  src: url("./font/HMAmperserifDispW01-Italic.eot");
  src: local("â˜º"),
    url("./font/HMAmperserifDispW01-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./font/HMAmperserifDispW01-Italic.woff2") format("woff2"),
    url("./font/HMAmperserifDispW01-Italic.woff") format("woff"),
    url("./font/HMAmperserifDispW01-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
